html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  text-align: center;
}

.app__wrapper {
  position: relative;
  height: 720px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.app__wrapper::-webkit-scrollbar {
  display: none;
}

.app__wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
